body {
  font-family: sans-serif;
  margin: 20px;
  background-color: rgb(9, 77, 102);
}
.imgtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.playbutton {
  border: none;
  text-align: center;
  font-size: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.h3 {
  text-align: center;
}
